
.catsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 52px 48px;
    margin: 48px 62px;
}

@media (max-width: 820px) {
    .catsContainer {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        gap: 40px 37px;
        margin: 37px 48px;    
    }
}

@media (max-width: 480px) {
    .catsContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 27px;
        margin: 27px 38px;    
    }
}