:root {
  --bg: rgba(244, 243, 236, 0.5);
  --primary: #2196F3;
  --primary-active: #1E88E5;
  --primary-hover: #42A5F5;
  --light-text-color: rgba(255, 255, 255, 0.7);

  --sans: system-ui, Roboto, 'Segoe UI', sans-serif;

  font: 18px/145% var(--sans);

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary);
  height: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

nav {
  height: 100%;
}

nav ul {
  display: flex;
  height: 100%;
  margin-left: 62px;
}

@media (max-width: 480px) {
  nav ul {
    margin-left: 0px;
    justify-content: space-around;
  }
}

nav ul li:hover {
  background-color: var(--primary-hover);
}

nav ul li a.active {
  background-color: var(--primary-active);
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: var(--light-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;

  display: flex;
  align-items: center;
  height: 100%;

  padding: 0 24px;
}